/* Generic */
* {
    box-sizing: border-box !important;
}

html,
body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
}

/* Input config */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Textarea config */
textarea {
    resize: none;
}

/* Form */
form {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 7px;
    margin-left: 2px !important;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #2e2e2e7b;
    border-radius: 15pt;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    width: 7px !important;
}

@media(max-width: 750px) {
    ::-webkit-scrollbar {
        width: 4px;
    }
}
